<footer class="site-footer">
  <p>© {new Date().getFullYear()} Imran Ibrahimli</p>
  <div>
    <a href="https://github.com/iibrahimli">GitHub</a>
    <a href="https://scholar.google.com/citations?user=Hl0FjYgAAAAJ&hl=en">Scholar</a>
    <a href="https://www.linkedin.com/in/iibrahimli/">LinkedIn</a>
  </div>
</footer>
